{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ title }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/provinsi.png' %}" rel="icon">
  <link href="{% static 'img/provinsi.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



  <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/iCheck/square/blue.css' %}">
</head>

<body>

  <header id="header" class="fixed-top d-flex">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
      <h1><img src="{% static 'img/provinsi.png' %}" alt="">
        <a href="/"><span style="font-family:Comic Sans MS">Myface</span></a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'img/logo.png' %}"  alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link scrollto" href="/">
              <i class="fa fa-home" style="font-size: 18px;">&nbsp;Home</i>
            </a>
          </li>

          <li class="dropdown">
            <a href="{% url 'about' %}"><i class="fa fa-info-circle" style="font-size: 18px;">&nbsp;About</i> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'layanan_service' %}">Layanan Service</a></li>
              <li class="dropdown"><a href="{% url 'FAQ' %}"><span>FAQ</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>

                </ul>
              </li>
              <!-- <li><a href="{% url 'contact' %}">Contact</a></li> -->
            </ul>

          </li>
          <li>
            <a class="nav-link scrollto" href="{% url 'schedule' %}">
              <i class="fa fa-calendar" style="font-size: 18px;">&nbsp;Schedule</i>
            </a>
          </li>

          <li>
            <a class="nav-link scrollto" href="{% url 'login' %}" type="button">
              <i class="fa fa-sign-in" style="font-size: 18px;">&nbsp;Login</i>
            </a>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->




  {% block content %}

  {% endblock content %}




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Diskominfo Kab.Mempawah</h3>
              <p>
                Jl. Chandramidi, Tengah, Mempawah Hilir, Pontianak, Kalimantan Barat 78911<br><br>
                <strong>Phone:</strong> (0561) 8173627 Fax (0561) 8177548<br>
                <strong>Email:</strong> diskominfo@kalbarprov.go.id<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Layanan Service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Layanan PPID</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Layanan Konsultasi</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Layanan Pengaduan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Layanan Konferensi Pers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Data Cloud</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Berlangganan</h4>
            <p>Jl. Adi Sucipto No. 50 Pontianak Telp. (0561) 8173627 Fax (0561) 8177548. Dapatkan informasi mengenai Myface pertama kali untuk anda dengan berlangganan</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Diskominfo Kab.Mempawah</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>


</body>

</html>